<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<test name="vipaccessTest" thread-count="2" parallel="false">

		<parameter name="appPath"
			value="C:\\Program Files (x86)\\Symantec\\VIP Access Client\\VIPUIManager.exe" />
		<parameter name="winiumdriverpath"
			value="C:\\Users\\Chandra-Kautilya\\Documents\\winium desktop driver\\Winium.Desktop.Driver.exe" />

		<groups>
			<run>
				<include name="vac" />
			</run>
		</groups>

		<classes>
			<class name="test_winium.CalculatorTest" />
		</classes>
	</test> <!-- Test -->

	<test name="caculatortest" thread-count="2" parallel="false">

		<parameter name="appPath"
			value="C:\\Windows\\System32\\calc.exe" />
		<parameter name="winiumdriverpath"
			value="C:\\Users\\Chandra-Kautilya\\Documents\\winium desktop driver\\Winium.Desktop.Driver.exe" />

		<groups>
			<run>
				<include name="clc" />
			</run>
		</groups>

		<classes>
			<class name="test_winium.CalculatorTest" />
		</classes>
		
	</test> <!-- Test -->

</suite> <!-- Suite -->
